.grid {
    @include flex();
    margin: -5px;
    &--m {
        margin: -20px;
        > .col {
          padding: 20px;
        }
    }
}

.container {
    margin: auto;
    max-width: 95%;
}

.wrapper {
    width: 100vw;
    min-height: 100vh;
    padding-bottom: 30px;
    background-color: aquamarine;
}

.col {
    padding: 5px;
}

@include columns('');

@media #{$maxW-xl} {
  @include columns('-xl');
}

@media #{$maxW-l} {
  @include columns('-l');
}

@media #{$maxW-m} {
  @include columns('-m');
}

@media #{$maxW-ms} {
  @include columns('-ms');
}

@media #{$maxW-mxs} {
  @include columns('-mxs');
}

@media #{$maxW-s} {
  @include columns('-s');
}

@media #{$maxW-xs} {
  @include columns('-xs');
}
