//- ### ### ### PATHS
$imgPath: '../images';
$icoPath: '#{$imgPath}/icons';

//- ### ### ### COLORS
$black: #000;
$white: #fff;

//- ### ### ### MEDIA QUERIES
$maxW-xl: 'only screen and (max-width: 1200px)';
$maxW-l: 'only screen and (max-width: 1024px)';
$maxW-m: 'only screen and (max-width: 990px)';
$maxW-ms: 'only screen and (max-width: 750px)';
$maxW-mxs: 'only screen and (max-width: 660px)';
$maxW-s: 'only screen and (max-width: 460px)';
$maxW-xs: 'only screen and (max-width: 320px)';
