doctype

html(lang='en')

  head
    meta(charset='utf-8')
    title Rock Paper Scissors
    meta(name='keywords', content='rock-paper-scissors')
    meta(name='description', content='Test')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='css/main.css', rel='stylesheet')

  body
    .wrapper
        .game.container
            h1.js-gameTitle.h-textCenter

            h2.js-initTitle.h-textCenter Start by choosing any choice

            .js-result.grid.grid--justifyCenter.game__results.h-hide
                .col.col-4.game__playerResult
                    h5.js-p1Score.game__score

                    img(src="").js-player1Result

                    h4 You

                .col-4.js-arrow.game__compareArrow

                .col.col-4.game__playerResult
                    h5.js-p2Score.game__score

                    img(src="").js-player2Result

                    h4 Computer

            h3.h-textCenter Choose your choice

            .js-choices.grid.game__choices

            .grid
                .col
                    a.js-restart.btn.h-hide Restart game

    script(src='js/main.js')
